
<h2>
    <i class="bi bi-arrow-left-circle-fill text-warning" routerLink="/user/userSuccess" > </i>
   </h2>
<div class="rounded ms-3" style="background-color: rgb(184, 233, 239);width: fit-content; "> 
    <div class="container">
        <div class=" ps-4 ">
            <div class="text-center p-2">
                <h3>Booking Form</h3>
            </div>
            <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                <div class="mb-0">
                    <mat-form-field appearance="fill" class="me-4">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="fname">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="me-4">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lname">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="abc@example.com" formControlName="email">
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="mb-0">
                    <mat-form-field hintLabel="" appearance="fill" class="me-4">
                        <mat-label>Mobile no</mat-label>
                        <input matInput #input maxlength="10" placeholder="Ex. Nougat" formControlName="mobile">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="me-4" style="width: 210px;">
                        <mat-label>Arrival Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="arrivalDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="fill" style="width: 210px;">
                        <mat-label>Departure Date</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="departureDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="mb-0">
                    <mat-form-field appearance="fill" floatLabel="always" class="me-4">
                        <mat-label>No of guests</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0" formControlName="guests">
                        <span matTextSuffix></span>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="me-4">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Ex. San Francisco" formControlName="city">
                    </mat-form-field>
                </div>
                <div class="mb-0 mt-0">
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td><mat-form-field class="example-full-width me-4">
                                    <mat-label>State</mat-label>
                                    <input matInput placeholder="Ex. California" formControlName="state">
                                </mat-form-field></td>
                            <td><mat-form-field class="example-full-width">
                                    <mat-label>Postal Code</mat-label>
                                    <input matInput #postalCode maxlength="6" placeholder="Ex. 431605" formControlName="pin">
                                </mat-form-field></td>
                        </tr>
                    </table>
                </div>
                <div class="mb-4">
                    <span class="" style="width: 450px;">
                        <label>Payment Method :</label>
                        <mat-radio-group formControlName="paymentMethod">
                            <mat-radio-button class="me-5 ms-5" value="upi">UPI</mat-radio-button>
                            <mat-radio-button value="cardPay">Card Payment</mat-radio-button>
                        </mat-radio-group>
                    </span>
                </div>
                <div class="text-center p-2">
                    <button type="submit" class="btn btn-primary w-25" [disabled]="bookingForm.invalid" 
                    >Submit</button>
                </div>
            </form>
        </div>
        <!-- <div class="col-4 p-2 ps-5">
            <h4 class="ms-5 ps-5">Selected Hotel</h4>
            <div class="card mb-3" style="width:440px;">
                <img src="../../../assets/photo-1584132967334-10e028bd69f7.avif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hotel Name</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div> -->


    </div>
</div>












<!-- <div class="container">
    <form [formGroup]="form" (ngSubmit)="saveDetails(form)">
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput maxlength="15" inputmode="tel" placeholder="Type name" formControlName="name" #nameInput>
            <mat-hint>Mini character 10: {{ nameInput.value.length }}/10</mat-hint>
            <mat-error>Name is required</mat-error>
            <mat-error *ngIf="form.controls['name'].errors?.['minlength']">
                Please enter more than 10 character
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Email Address:</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Your email">
            <mat-icon matSuffix>mail_outline</mat-icon>
            <mat-hint>Input the fully qualified email address</mat-hint>
            <mat-error *ngIf="form.controls['email'].errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="form.controls['email'].errors?.['pattern']">Please enter valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Address:</mat-label>
            <textarea matInput placeholder="address" formControlName="address"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" hintLabel="Country name required">
            <mat-label>Country</mat-label>
            <mat-select matNativeControl name="country" formControlName="country">
                <mat-option value="india">India</mat-option>
                <mat-option value="france">France</mat-option>
                <mat-option value="germany">Germany</mat-option>
                <mat-option value="japan">Japan</mat-option>
                <mat-option value="Mongolia">Mongolia</mat-option>
            </mat-select>
        </mat-form-field>

        <div style="margin-top:10px;">
            <div style="margin-right:3%; color:#6b6b6b;">
                <mat-label>Gender</mat-label>
            </div>
            <mat-radio-group formControlName="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
    </form>
    <div>{{ form.value | json }}</div>
</div> -->











<!-- <form class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Profile Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input matinput="" placeholder="Full Name">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input matinput="" placeholder="Address">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
           <div class="col-sm-6">
            <mat-form-field class="full-width">
              <textarea matinput="" placeholder="Country"></textarea>
            </mat-form-field>
          </div> -->
          <!-- <div class="col-md-6 top-padding">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Select DOB</mat-label>
                   
                </mat-form-field>                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-radio-group class="margin-left">
                    <mat-radio-button value="male"> Male </mat-radio-button>
                    <mat-radio-button value="female"> Female </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button="" color="primary">Save</button>
      </mat-card-actions>
    </mat-card>
  </form> --> 
