

<div class="container p-1">
  <div class="row">
    <div class="col-1"><i class="bi bi-arrow-left-circle-fill fs-2 text-warning"  routerLink="/admin"></i></div>
    <div class="col-10 d-flex justify-content-center"><input class="form-control me-2 mb-3 w-25" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchValue"></div>
  <!-- <button mat-raised-button color="accent" routerLink="/owner/new"  (click)="editFlag()">New Hotel Registration</button> -->
  <button (click)="editFlag()" routerLink="/owner/new" mat-raised-button color="accent">New Hotel Registration</button>
  <div class="card mb-3" style="max-width: 150%; max-height: 300px;"  *ngFor="let hotel of hotelList">
      <div class="row g-0">
        <div class="col-md-4 p-1">
          <img src={{hotel.image}} width="335px" class="img-fluid rounded-start" alt="hotel">
        </div>
        <div class="col-md-6 mt-2">
          <div class="card-body">
            <h5 class="card-title"><span class="me-5">{{hotel.hotelName}}</span></h5>
            <span class="ms-3"><i class="bi bi-star"></i> {{hotel.rating}}</span>
            <p class="card-text"><span><h5><i class="bi bi-geo-alt"></i> {{hotel.address}}</h5></span></p>
            <p class="mb-0"><small class="text-muted ">{{hotel.roomSiz}}</small></p>
            <p class="mt-0"><small class="text-muted">{{hotel.roomDis}}</small></p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="mt-5">
              <h3>{{hotel.price | currency: 'INR':"symbol":"1.0-2"}}</h3>
              <h3><button class="btn btn-success" routerLink="/owner/new"(click)="onEdit(hotel.id)">Edit Now</button></h3>
              <h3><button class="btn btn-danger" routerLink="/owner/ownerSuccess"(click)="onDelete(hotel.id)">Delete Now</button></h3>
          </div>
        </div>
      </div>
    </div>
</div>