<div class="container">
    <h1 >
      <i class="bi bi-arrow-left-circle-fill text-warning" routerLink="/admin/adminSuccess" > </i>
      </h1>
  <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Sr. no.</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Uname</th>
          <th scope="col">Gender</th>
        </tr>
      </thead>
      <tbody  *ngFor="let owner of ownersList, index as i">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{owner.fullname}}</td>
          <td>{{owner.email}}</td>
          <td>{{owner.mobile}}</td>
          <td>{{owner.uname}}</td>
          <td>{{owner.gender}}</td>
        </tr>
       
      </tbody>
    </table>
  
  </div>