<div class="bgimg ">
  <p>
     <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon me-2" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <span><h2>Swarg Residency</h2></span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" routerLink="/admin">Admin</button>
      <button mat-raised-button color="primary" routerLink="/owner">Owner</button>
      <button mat-raised-button color="primary" routerLink="/user">User</button>
   </mat-toolbar>
    </p>
    
    <div>
      <router-outlet></router-outlet> 
    </div>
  
</div>