<div class="bgimg">
  <p>
     <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon me-2" aria-label="Example icon-button with menu icon"  routerLink="/Home">
        <mat-icon>home</mat-icon>
      </button>
      <span><h2>Swarg Residency</h2></span>
      <span class="example-spacer"></span>
      <!-- <button mat-raised-button color="primary" routerLink="/Home">Home</button> -->
      <button mat-raised-button color="primary" routerLink="/admin" (click)="onJourneySelected('admins')">Admin</button>
      <button mat-raised-button color="primary" routerLink="/owner" (click)="onJourneySelected('owners')">Owner</button>
      <button mat-raised-button color="primary" routerLink="/user" (click)="onJourneySelected('users')">User</button>
   </mat-toolbar>
    </p>
    
    <div>
      <router-outlet></router-outlet> 
    </div>
  
</div>