<div class= " container mt-5 pt-5 " style="width: 450px;">
  <div class="text-center">
    <img src="../../assets/admin (1).png" alt="" height="80px" width="120px" >
  </div>
    <h2 class="text-center"> Admin Sign In </h2>
      <form class="container">
          <div class="mb-3 ">
            <input type="text" style="height: 50px;"  class="form-control" id="usename"  placeholder="Email address" >
           </div>
          <div class="mb-3">
            <input type="password" style="height: 50px;"  class="form-control" id="password" placeholder="Password" >
          </div>
           <button type="submit" class="btn btn-primary w-100 mt-0" style="height: 50px;" >Submit</button>
        </form>
    <div class="text-center" style="font-size:large;">
      <span class="text-white">Forgotten account? </span> 
      <span class="text-white" routerLink="signuo">Signup as user</span>
    </div>
  </div>
   
  
