<!-- <h1>
    <span>W</span>
    <span>E</span>
    <span>L</span>
    <span>C</span>
    <span>O</span>
    <span>M</span>
    <span>E</span>
</h1> -->
<!-- <div class="swatch">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div> -->
<!-- <div class="container mt-5 ms-5">
    <div class="cat">
        <div class="ear ear--left"></div>
        <div class="ear ear--right"></div>
        <div class="face">
          <div class="eye eye--left">
            <div class="eye-pupil"></div>
          </div>
          <div class="eye eye--right">
            <div class="eye-pupil"></div>
          </div>
          <div class="muzzle"></div>
        </div>
    </div>
</div>
   -->
<div class="container text-center mt-5 mb-5">
    
   <section class="h-txt">
    <div style="margin-top: 100px;">
        <span >Enjoy</span>
    <h1 >International Hotel Booking  Agency</h1>
    </div>
    <br>
    
    <a class="mt-5" routerLink="/user" (click)="onClick()">Book your trip with our Hotel</a>
   </section>
</div>