<div class="container">
    <div class="item" style="background-color: rgb(117, 207, 186);"> 
       <h1>WELCOME TO SWARG RESIDENCY</h1>
       <P>when u gwt into hotwl room,you lock the door ,and you know there is a secrecy ,there is a luxury ,there is fantasy . there is comfort. there is reassurance.</P>
    </div>
    <div class="item" style="background-color:rgb(96, 95, 163);"> 
        <h1>ABOUT US</h1>
        <p></p>
    </div>
    <h1>Welcome to the Help Centre</h1>
    Sign in to contact Customer Service, we're available 24 hours a day
   
    <div class="item" style="background-color: rgb(239, 95, 208);"> 
        <h1>CONTACT US</h1>
        <P> Send us a message
            Contact our agents about your booking, and we'll reply as soon as possible.
            Call us
            For anything urgent, you can call us 24/7 on a local or international phone number.</P>
     </div>
     <!-- <div class="item" style="background-color: rgb(76, 129, 141);"> 
        <h1>CONTACT US</h1>
        <P></P>
     </div> -->

</div>

