<div class="container bg-light" style="width: 450px;">
    <h1 class="text-center"> Create Account</h1>
    <form  [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <input type="text" id="fullname" formControlName="fullname" placeholder="Your Full Name.." >
      <!-- <input type="text" id="lname" name="lastname" placeholder="Your last name.."> -->
      <input type="text" id="email" formControlName="email" placeholder="Your Email Address.." >
      <input type="text" id="Mobile"  pattern="[0-9]{10}" formControlName="mobile" placeholder="Your Mobile No...">
      <input type="text" id="password" formControlName="password" placeholder="Create password...">
       <input type="text" id="password" formControlName="password" placeholder="Confirm password..."> 
      <div>
        <b><label for="gender">Gender : </label></b>
        <label class="ms-3 me-2" for="gender">Male</label>
        <input class="me-5 form-check-input" formControlName="gender" type="radio" value="male" >
        <label class="me-2" for="gender">Female</label>
        <input class="me-5 form-check-input" formControlName="gender" type="radio" value="female">
      </div>
    <input class="w-100 mt-0" type="submit" value="Submit">
    </form>
    <div  class="text-center mt-0" >
      <span  routerLink="/user">Already have account?</span>
    </div>
  </div> 

  <!-- <div class="container " style="width: 440px;">
    <form>
      <div class="">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fname" name="firstname">
      </div>
      <div class="">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lastname">
      </div>
      <div class="">
        <label for="mobile" class="form-label">Mobile No.</label>
        <input type="tel" class="form-control" id="mobile" pattern="[0-9]{10}" name="mobile">
      </div>
      <div class="mt-0">
        <label for="mail" class="form-label">Email</label>
        <input type="email" class="form-control" id="mail" name="mail">
      </div>
      <div class="">
        <b><label for="gender">Gender : </label></b>
        <label class="ms-3 me-2" for="gender">Male</label>
        <input class="me-5 form-check-input" name="gender" type="radio" value="male">
        <label class="me-2" for="gender">Female</label>
        <input class="me-5 form-check-input" name="gender" type="radio" value="female">
        <input class="form-check-input" type="radio" name="gender" value="other">
      </div>
      <div class="">
        <b><p><label for="country">Country :</label></p></b>
        </div>
      <button type="submit" class="btn btn-success w-100">Submit</button>
    </form>
  </div> -->

